.DS_Store
node_modeles
__pycache__

media

dump.rdb

main.py

python3
python3.10

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.dockerignore
docker-commands
docker-compose.prod.yml
docker-compose.yml
Dockerfile
Dockerfile.prod
entrypoint.prod.sh
entrypoint.sh