amqp==5.1.1
asgiref==3.7.2
async-timeout==4.0.3
billiard==4.1.0
celery==5.3.1
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
Django==4.2.3
django-appconf==1.0.5
django-autoslug==1.9.9
django-compressor==4.4
django-crispy-forms==2.0
django-debug-toolbar==4.2.0
django-environ==0.10.0
django-extensions==3.2.3
django-libsass==0.9
django-redis==5.3.0
django-sass-processor==1.2.2
kombu==5.3.1
libsass==0.22.0
Pillow==10.0.0
prompt-toolkit==3.0.39
psycopg2==2.9.6
python-dateutil==2.8.2
pytils==0.4.1
rcssmin==1.1.1
redis==4.6.0
rjsmin==1.2.1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
vine==5.0.0
wcwidth==0.2.6
