<section class="faq">
        <div class="shape right"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="block-text center" data-aos="fade-down" data-aos-duration="3000">
                        <h6 class="sub-heading"><span>ЧаВо</span></h6>
                        <h3 class="heading">Самые
                            <br>
                            задаваемые вопросы</h3>
                            <p class="mb-17">Ниже приведен список часто задаваемых вопросов и ответов</p>
                            <p>Пожалуйста,ознакомтесь с ними.</p>
                    </div>

                    <div class="faq__main flat-tabs">
                        <ul class="menu-tab">
                            <li class="active"><h6 class="fs-14">Дизайн</h6></li>
                            <li> <h6 class="fs-14">Разработка</h6></li>
                            <li><h6 class="fs-14">Тестирование</h6></li>
                            <li ><h6 class="fs-14">Продвижение</h6></li>
                        </ul>
                        <div class="content-tab">
                            <div class="content-inner">
                                <div class="flat-accordion row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>01.</span>Как подобрать цвета для сайта?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>Согласуйте выбранные цвета с брендовым стилем (если есть), чтобы создать узнаваемый и подходящий образ компании на сайте.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>02.</span>Какие подобрать шрифты для сайта?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Шрифты для сайта должны быть читабельными и удобоваримыми. Лучше всего использовать простые шрифты без засечек, такие как Arial, Verdana или Tahoma. Для заголовков можно использовать более декоративные шрифты, например, Georgia или Times New Roman. Важно также учитывать цветовую гамму сайта и подбирать шрифты, которые хорошо сочетаются с фоном и текстом.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>03.</span>Как выбрать структуру и навигацию?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                1. Определите цель вашего сайта: что вы хотите достичь с помощью сайта, какую информацию вы хотите предоставить пользователям.
                                                2. Разработайте структуру сайта, которая будет удобной для пользователей. Используйте иерархическую структуру, чтобы пользователи могли легко находить нужную информацию.
                                                3. Создайте навигацию, которая поможет пользователям легко перемещаться по сайту. Используйте меню или ссылки, чтобы пользователи могли быстро найти нужную информацию.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>04.</span>Должна ли быть адаптивность?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Адаптивность - это способность веб-сайта или приложения подстраиваться под различные устройства и размеры экранов. Она позволяет пользователям получать доступ к контенту в удобном формате на любых устройствах, таких как смартфоны, планшеты и настольные компьютеры. Адаптивный дизайн делает сайты более удобными для пользователей и повышает их удовлетворенность.
                                              </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>05.</span>Разработка логотипа и брендирования? <span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Разработка логотипа и брендирование - это процесс создания уникального и запоминающегося образа бренда, который будет отражать его индивидуальность и ценности. Это включает в себя создание логотипа, разработку цветовой гаммы, подбор шрифтов и создание уникального стиля. Брендирование также включает в себя разработку упаковки, рекламных материалов, веб-сайта и других элементов, которые будут использоваться для продвижения бренда на рынке.                                              </p>
                                            </div>
                                          </div>
                                          <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>06.</span>Какие элементы и функциональность?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Примерный список элементов и структура на сайте:главная страница, каталог товаров, оформление заказа, личный кабинет покупателя, история заказов, профиль покупателя, настройки профиля, регистрация на сайте, авторизация на сайте.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>07.</span>Как подобрать графические элементы?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                При выборе графических элементов для сайта необходимо учитывать несколько факторов: цель сайта, дизайн сайта, размер сайта, тип контента, удобство использованя, соответствие бренду.В целом, подбор графических элементов на сайт - это творческий процесс, который требует учета многих факторов.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>08.</span>Как сделать сайт уникальным?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Для того, чтобы сделать сайт уникальным, необходимо использовать уникальный контент, который будет отличаться от контента других сайтов в той же нише. Это может быть текст, изображения, видео или аудио. Также можно использовать уникальные элементы дизайна, такие как цветовая гамма, шрифты и расположение элементов на странице. Важно также следить за актуальностью информации на сайте и обновлять ее регулярно.
                                              </p>
                                            </div>
                                        </div>
                                    </div>


                                  </div>
                            </div>
                            <div class="content-inner">
                                <div class="flat-accordion row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>01.</span>Что такое разработка сайтов? <span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Разработка сайта - это процесс создания веб-ресурса, который позволяет пользователям получать информацию, покупать товары, заказывать услуги и т.д. Он включает в себя множество этапов, начиная от идеи и заканчивая запуском готового продукта. Каждый этап требует определенных знаний и навыков, поэтому разработка сайта - это сложный процесс, который требует опыта и профессионализма.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>02.</span>Этапы разработки сайта?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Разработка сайта включает в себя следующие этапы: анализ и исследование, проектирование, программирование, тестирование, запуск, поддержка.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>03.</span> Какой тип сайта вы хотите создать?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Выбор сайта зависит от ваших целей, аудитории и бюджета. Это может быть сайт - визитка, интернет - магазин, блог, форум и тд.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>04.</span> Какую платформу Вы хотите?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Существует множество платформ, для создания сайта.Таких как Bitrx, WordPress, OpenCart и многие др. Также сайт можно создать на собственно разработанной платформе, все зависит отжелания заказчика.
                                              </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>05.</span> Как выбрать доменное имя? <span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Домен - это адрес сайта в интернете. Они бывают первого уровня - это ru, com, net. Второго уровня shop, online, рф и тд. Третьего уровня, напремер : .net.com и тд.Заказчик сам определяет какой домен, и какого уровня домен  он хочет.
                                              </p>
                                            </div>
                                          </div>
                                          <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>06.</span> Что такое хостинг?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Хостинг - это услуга, которая позволяет разместить сайт на сервире, что бы он был доступен в интернете. Хостинг может быть платным или бесплатным, в зависимости от провайдера.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>07.</span> Оптимизация скорости сайта?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Скорость загрузки сайта - это важный фактор, который влияет на выдачу и на удобство пользователя. Оптимизация скорости загрузки включает в себя использования сжатия изображений, киширование статического контента, уминьшение размера файлов и многое другое.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>08.</span> Что такое SSl - сертификат?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                SSL - сертификат - это цифровой сертификат который подтверждает подленность сайта и защищает конфиденциальные данные пользователей. SSl - сертификаты бывают платными и бесплатными, все зависит от компании их выдающей.
                                              </p>
                                            </div>
                                        </div>
                                    </div>


                                  </div>
                            </div>
                            <div class="content-inner">
                                <div class="flat-accordion row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>01.</span> Что такое тестирование сайта? <span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Тестирование сайта - это процесс проверки функциональности, производительности и безопасности веб-сайта.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>02.</span> Какие виды тестирования существуют?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Существуют несколько видов тестирования: функциональное, регрессионное, интеграционное, нагрузочное, юзабилити и тестирование безопасности.Каждый из этих подходов направлен на проверку определенной характеристики или функции продукта.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>03.</span> Как подготовить сайт к тестированию?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Перед началом тестирования необходимо подготовить сайт: настроить его проверить на наличие ошибок.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>04.</span> Какие инструменты используются?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Для тестирования сайта используются различные инструменты, такие как браузеры, системы автоматизации тестирования, инструменты мониторинга производительности, и тд.
                                              </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>05.</span> кто занимается тестированием сайта? <span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                За тестирование сайта обычно отвечает команда разработчиков и тестировщиков.
                                              </p>
                                            </div>
                                          </div>
                                          <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>06.</span> Как часто проводить тестирование?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Частота проведения тестирования зависит от требований проекта и может быть разной.Обычно тестирование проводится регулярно что бы гарантировать качество продукта.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>07.</span> Какие программы используются?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Для тестирования веб - сайтов используются различные инструменты, такие как Selenium, JMeter, LoadRunner, postman, charles и другие.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>08.</span> Каковы цели тестирования?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Одна из основных целей тестирования, обнаружение ошибок и дефектов. Ошибки могут быть обнаружены на всех этапах разработки, начиная от проектирования и заканчивания реализацией. Тестирование позволяет выявить и исправить эти ошибки, улучшая качество и надежность программного продукта.
                                              </p>
                                            </div>
                                        </div>
                                    </div>


                                  </div>
                            </div>
                            <div class="content-inner">
                                <div class="flat-accordion row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>01.</span>Какие методы существуют? <span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Существует множество методов продвижения сайта, и выбор конкретного метода зависит от целей и бюджета компании. Есть быстрые методы продвиджения, такие как платная реклама (direct), или более медленные как SEO.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>02.</span> Что такое SEO?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                SEO (оптимизация поисковой системы): это процесс оптимизации сайта для поисковых систем с целью улучшения его ранжирования в органических результатах поиска. Он включает в себя оптимизацию контента, мета-тегов, заголовков, URL-адресов, создание качественной внешней ссылочной массы и многое другое.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>03.</span> Что такое платная реклама?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Платная реклама в поисковых системах (SEM): это метод продвижения, при котором рекламодатель платит за показы своего сайта в результатах поисковых запросов. Примеры включают рекламу в Google AdWords и Яндекс Директ.
                                                Баннерная реклама: это формат рекламы, где баннеры показываются на других веб-сайтах, чтобы привлечь внимание пользователя. Рекламодатель платит за показы или клики на баннерах.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>04.</span> Что такое Email-маркетинг?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Email-маркетинг: это метод продвижения, который заключается в отправке целевым аудиториям рекламных предложений и новостей по электронной почте. Базы данных адресов электронной почты могут быть созданы самостоятельно или приобретены у специализированных компаний.
                                              </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>05.</span> Продвижение в социальных сетях? <span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Социальные медиа-маркетинг: это продвижение и реклама через популярные социальные медиа-платформы, такие как Facebook, Instagram, Twitter и LinkedIn. Здесь компании могут взаимодействовать с потенциальными клиентами, делиться контентом и рекламировать свои продукты или услуги.
                                              </p>
                                            </div>
                                          </div>
                                          <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>06.</span>Что такое контент-маркетинг?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Контент-маркетинг: это создание и распространение полезного и ценного контента, который привлекает целевую аудиторию и устанавливает компанию как эксперта в своей области.
                                                Это только некоторые из методов продвижения сайта, и их эффективность может различаться в зависимости от типа бизнеса и целевой аудитории.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>07.</span> Партнерские программы?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Создание партнерских отношений: установление сотрудничества с другими сайтами или компаниями, что бы получить сылки и рекомендации. Это может включать гостевые публикации, статьи с инфографиками или видео, коментирование постов с сылками на свой сайт.
                                              </p>
                                            </div>
                                        </div>
                                        <div class="flat-toggle">
                                            <h6 class="toggle-title"><span>08.</span> Использование инфлюенсеров?<span class="icon-plus"></span></h6>
                                            <div class="toggle-content">
                                              <p>
                                                Использование инфлюенсиров: сотрудничество с влиятельными блогерами или людьми в определенной нише, что бы они рекомендовали ваш сайт или продукт.
                                              </p>
                                            </div>
                                        </div>
                                    </div>


                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>