{% extends 'blog/base.html' %}

{% load static %}

{% block blog %}
<div class="bloglist__main">
    <div class="list details">
        <h4 class="title">{{ post.title }}</h4>
        <p><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.9375 0.75V2.0625M9.0625 0.75V2.0625M0.75 9.9375V3.375C0.75 3.0269 0.888281 2.69306 1.13442 2.44692C1.38056 2.20078 1.7144 2.0625 2.0625 2.0625H9.9375C10.2856 2.0625 10.6194 2.20078 10.8656 2.44692C11.1117 2.69306 11.25 3.0269 11.25 3.375V9.9375M0.75 9.9375C0.75 10.2856 0.888281 10.6194 1.13442 10.8656C1.38056 11.1117 1.7144 11.25 2.0625 11.25H9.9375C10.2856 11.25 10.6194 11.1117 10.8656 10.8656C11.1117 10.6194 11.25 10.2856 11.25 9.9375M0.75 9.9375V5.5625C0.75 5.2144 0.888281 4.88056 1.13442 4.63442C1.38056 4.38828 1.7144 4.25 2.0625 4.25H9.9375C10.2856 4.25 10.6194 4.38828 10.8656 4.63442C11.1117 4.88056 11.25 5.2144 11.25 5.5625V9.9375" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        {{ post.published_at|date:"F j, Y" }}</p>

        <div class="line"></div>

        <div class="content-d">
            <div class="main">
                <p class="boild">
                    {{ post.preview_text }}
                </p>
                <div class="image">
                    <img src="{{ post.image.url }}" alt="">
                    <p>{{ post.image_text }}</p>
                </div>
<!--                <p class="mb-15">Most NFT operators "appear to have misled NFT purchasers" about the extent of their rights.</p>-->
<!--                <p class="mb-15">The Creative Commons license, seen as a solution to the restrictive licenses used by most projects, "renders NFT ownership obsolete from a legal perspective as it moves the intellectual property fully into the public domain, making it impossible for NFT holders to defend their ownership rights in court," according to the report by Galaxy Digital Research.</p>-->
<!--                <p class="mb-15">The report mentioned that without improvements in the on-chain representation and transfer of intellectual property rights from NFT issuers to NFT token holders, the expansive vision of Web3 will remain unrealised.</p>-->
<!--                <p class="mb-15">The report analysed major NFT projects, like the Yuga Labs project Bored Ape Yacht Club (BAYC), Gary Vaynerchuk's VeeFriends, World of Women, and social platforms Decentraland and Sandbox.</p>-->
<!--                <p class="mb-15">It found that only the 'World of Women' (WoW) NFT collection differentiates itself from all the other top 25 NFT projects by being the only to attempt to transfer full IP rights to NFT holders.</p>-->
<!--                <p class="mb-15">'World of Women' attempts this through the provision of a novel copyright assignment agreement.</p>-->
<!--                <p class="mb-15">"Under this copyright assignment agreement, WoW attempts to create a governance structure in which the copyright of each WoW NFT 'runs with' the NFT, such that whoever owns the NFT owns the copyright," the report mentioned.</p>-->
<!--                <p class="mb-15">NFT holders should fight for their IP rights.</p>-->
<!--                <p>"As NFTs are still in their infancy stage, it is critical for the NFT community to begin working on a framework to properly give out IP rights to users before mass adoption," the findings showed.</p>-->
                <p class="mb-15">{{ post.main_text }}</p>
                <div class="line"></div>

                {% if post.tag.all %}
                <div class="bottom">
                    <p>Tags:</p>
                    <ul class="list-tag">
                        {% for tag in post.tag.all %}
                         <li><a href="{{ tag.get_absolute_url }}">{{tag.title}}</a></li>
                        {% endfor %}
<!--                        <li><a href="blog-details.html">nfts</a></li>-->
<!--                        <li><a href="blog-details.html">crypto</a></li>-->
<!--                        <li><a href="blog-details.html">cyfonii</a></li>-->
<!--                        <li><a href="blog-details.html">collection</a></li>-->
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}